---
layout: default
title: Style Guide
class: style-guide

banner-title: Style Guide
banner-intro:

intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae harum quasi magni veniam eos laborum velit, provident laboriosam, distinctio laudantium voluptas natus sapiente nobis, amet. Maiores, quo eum iste quisquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae harum quasi magni veniam eos laborum velit, provident laboriosam, distinctio laudantium voluptas natus sapiente nobis, amet. Maiores, quo eum iste quisquam!
---



<!--// Typography
======================================-->

<section class="bg--light-grey styleguide-title" id="Typography">
  <div class="row row--padding">
    <span class="title title--upper title--micro title--bolder title--expanded">Typography</span>
  </div>
</section>

<section class="bg--white">
  <div class="row row--padding">
    <h1 class="title title--larger title--light">This is an H1 heading</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h2 class="title title--large title--light">This is an H2 heading</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h3 class="title title--medium title--light">This is an H3 heading</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h4 class="title title--smaller title--light">This is an H4 heading</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h5 class="title title--smallest title--light">This is an H5 heading</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
    <h6 class="title title--micro title--light">This is an H6 heading</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr />
  </div>
</section>



<!--// Buttons
======================================-->

<section class="bg--light-grey styleguide-title" id="Buttons">
  <div class="row row--padding">
    <span class="title title--upper title--micro title--bolder title--expanded">Buttons</span>
  </div>
</section>

<section class="bg--white">
  <div class="row row--padding">
    <dl>
      <dt>
        <a href="#" class="btn">Find out more</a>
        <code>.btn</code>
      </dt>
      <dt>
        <a href="#" class="btn btn--solid">Find out more</a>
        <code>.btn.btn--solid</code>
      </dt>
      <dt>
        <a href="#" class="btn btn--large">Find out more</a>
        <code>.btn.btn--large</code>
      </dt>
    </dl>
  </div>
</section>



<!--// Colours
======================================-->

<section class="bg--light-grey styleguide-title" id="Colours">
  <div class="row row--padding">
    <span class="title title--upper title--micro title--bolder title--expanded">Colours</span>
  </div>
</section>

<section class="bg--white">
  <div class="row row--padding row--columns-6-6 row--columns-6-6-gutters">

    <div class="row__column">
      <h4>Primary colours</h4>
      <dl>
        <dt>
          <span class="styleguide--colour bg--white"></span>
          White <code>$white</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--black"></span>
          Black <code>$black</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--light-grey"></span>
          Light grey <code>$light-grey</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--dark-grey"></span>
          Dark grey <code>$dark-grey</code>
        </dt>
        <hr />
        <dt>
          <span class="styleguide--colour bg--text-black"></span>
          Text Black <code>$text-black</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--text-heading"></span>
          Text Heading <code>$text-heading</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--text-paragraph"></span>
          Text Paragraph <code>$text-paragraph</code>
        </dt>
      </dl>
    </div>

    <div class="row__column">
      <h4>Theme colours</h4>
      <dl>
        <dt>
          <span class="styleguide--colour bg--se-orange"></span>
          SE Orange <code>$se-orange</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--se-light-grey"></span>
          SE Light grey <code>$se-light-grey</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--se-dark-grey"></span>
          SE Dark grey <code>$se-dark-grey</code>
        </dt>
        <hr />
        <dt>
          <span class="styleguide--colour bg--partner-primary"></span>
          Partner primary <code>$partner-primary</code>
        </dt>
        <dt>
          <span class="styleguide--colour bg--partner-secondary"></span>
          Partner secondary <code>$partner-secondary</code>
        </dt>
      </dl>
    </div>
  </div>
</section>



<!--// Modal
======================================-->

<section class="bg--light-grey styleguide-title" id="Modal">
  <div class="row row--padding">
    <span class="title title--upper title--micro title--bolder title--expanded">Modals</span>
  </div>
</section>

<section class="bg--white">
  <div class="row row--padding">
    <p>Click below to open the modal. Assign class <code>.js-open-modal</code> to the button.</p>
    <a href="#" class="btn btn--solid js-open-modal">Open modal</a>
  </div>
</section>

{% include example-modal.html %}



<!--// Offers
======================================-->

<section class="bg--light-grey styleguide-title" id="Offers">
  <div class="row row--padding">
    <span class="title title--upper title--micro title--bolder title--expanded">Offers</span>
  </div>
</section>

{% assign offers = site.data.offers %}
<section class="bg--white">

  <div class="row row--padding">
    <h4>Default offer</h4>
    <code>.offer</code>
    <hr />
    {% for offer in offers limit:1 %}
      {% include offer/full-width.html %}
    {% endfor %}
  </div>

  <div class="row row--padding">
    <h4>Stack offer</h4>
    <code>.offer.offer--stack</code>
    <hr />
    <div class="row--columns-6-6 row--columns-6-6-gutters">
      {% for offer in offers limit:2 %}
        {% include offer/default.html %}
      {% endfor %}
    </div>
  </div>

  <div class="row row--padding">
    <h4>Featured offer</h4>
    <code>.offer.offer--featured</code>
    <hr />
    {% for offer in offers limit:1 %}
      {% include offer/feature.html %}
    {% endfor %}
  </div>

</section>