
<section class="banner align-center invert-text" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ page.class }}.jpg');">
  <div class="site-header__offset"></div>



  <div class="row row--padding banner__content">

    {% if page.banner-title %}
      {{ page.banner-title }}
    {% else %}
      <h1 class="banner__title title title--larger title--light">
        {{ page.title }}
      </h1>
    {% endif %}

    {% if page.class == 'overview' %}
      <span class="banner__partnership">
        In partnership with MINI
      </span>
    {% endif %}

    {% if page.banner-intro %}
      <hr />
      {{ page.banner-intro }}
    {% endif %}

  </div>



  <!-- SITE NAV -->
  <div class="banner__navigation">
    <ul class="row row--padding banner__navigation__list">
      {% assign nav-order = site.pages | sort:"nav-order" %}
      {% for page in nav-order %}{% if page.nav-order %}<li class="banner__navigation__item banner__navigation__item--{{ page.title | slugify }}"><a class="banner__navigation__link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>{% endif %}{% endfor %}
    </ul>
  </div><!-- END - .site-nav -->
  <div class="banner__navigation__offset"></div>



</section>