
<section class="banner align-center invert-text" style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ page.class }}.jpg');">

  <div class="site-header__offset"></div>

  <div class="banner__content row row--padding">

    {% if page.banner-title %}
      {{ page.banner-title }}
    {% else %}
      <h1 class="banner__title title title--larger title--light title--italic">
        {{ page.title }}
      </h1>
    {% endif %}

    {% if page.banner-intro %}
    <div class="banner__content-description">
      <hr />
      {{ page.banner-intro }}
    </div>
    {% endif %}

    {% if page.layout == 'roadtrip' %}
      <div class="banner__roadtrip-approved">
        <img src="{{ site.baseurl }}/img/icons/approved.png" class="js-svg-swap" width="100%">
      </div>
    {% endif %}

  </div>



  <!-- SITE NAV -->
  <div class="microsite__navigation">
    <ul class="row row--padding microsite__navigation__list">
      {% assign nav-order = site.pages | sort:"nav-order" %}
      {% for page in nav-order %}{% if page.nav-order %}<li class="microsite__navigation__item microsite__navigation__item--{{ page.title | slugify }}"><a class="microsite__navigation__link" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>{% endif %}{% endfor %}
    </ul>
  </div><!-- END - .site-nav -->
  <div class="microsite__navigation__offset"></div>



</section>