<section class="section--padding-none map-banner">

  <div class="row--columns-6-6 row--columns-vertical-align">

    <div class="row__column row--padding row--padding-vertical align-center">
      <h2 class="title title--small title--bold title--upper">Other Country Breaks</h2>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Curabitur blandit tempus porttitor.</p>
      <a href="{{ site.baseurl }}#offer-map" class="btn btn--solid">Explore Country Breaks</a>
    </div>

    <div class="row__column">
      <a href="{{ site.baseurl }}#offer-map" class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/bg/map-section.jpg');"></a>
    </div>

  </div>

</section>