{% if page.class == 'competition' %}
<a class="logo logo--partner" target="_blank" href="http://www.barbour.com/uk" id="tracking-header-logo-barbour"><img class="logo--partner--img" src="{{ site.baseurl }}/img/logo/barbour-logo.png" alt="Barbour Logo"></a>
{% endif %}

<!-- MINI Logo + click tracking -->
<a class="logo logo--partner" target="_blank" href="https://ad.doubleclick.net/ddm/trackclk/N476201.2141904SECRETESCAPES/B11080532.147501642;dc_trk_aid=318936012;dc_trk_cid=80026776;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=" id="tracking-logo-mini"><img class="logo--partner--img js-svg-swap" src="{{ site.baseurl }}/img/logo/mini-logo.png" alt="MINI Logo"></a>

<SCRIPT language='JavaScript1.1' SRC="https://ad.doubleclick.net/ddm/trackimpj/N476201.2141904SECRETESCAPES/B11080532.147501642;dc_trk_aid=318936012;dc_trk_cid=80026776;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?"></SCRIPT>