<section class="section--padding-large invert-text" style="background-image: url('{{ site.baseurl }}/img/bg/partner-section-bg.jpg');">
  <div class="row row--padding row--columns-8-4">

    <div class="row__column">
      <h2 class="title title--small title--bold title--upper">Test drive the new MINI&nbsp;Countryman</h2>
      <p class="paragraph--lead">Book a test drive in the brand new MINI Countryman and discover for yourself the perfect companion for exploring the wilderness... </p>
      <a href="{{ site.baseurl }}/test-drive#book" class="btn btn--solid btn--invert">Book a test drive</a>
    </div>

    <div class="row__column">

    </div>

  </div>
</section>