{% if page.class == 'competition' %}
<a class="logo logo--partner" target="_blank" href="http://www.barbour.com/uk" id="tracking-header-logo-barbour"><img class="logo--partner--img" src="{{ site.baseurl }}/img/logo/barbour-logo.png" alt="Barbour Logo"></a>
{% endif %}

<a class="logo logo--partner" target="_blank" href="https://www.mini.co.uk/en_GB/home/range/new-mini-countryman.html" id="tracking-logo-mini"><img class="logo--partner--img js-svg-swap" src="{{ site.baseurl }}/img/logo/mini-logo.png" alt="MINI Logo"></a>