
{% if include.type == 'feature' %}

  <div class="row__column">
    <a
      href="javascript:void(0);"
      class="sight sight--feature js-open-modal"
      data-modal="sight"
      data-modal-item="{{ sight.class }}">

      <span class="sight__image bg-image-ratio bg-image-ratio--1-1" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/sight-{{ sight.class }}.jpg');"></span>

      <span class="sight__content">
        <h4 class="sight__content-title title title--smallest title--bold">{{ sight.title }}</h4>
        <p class="sight__content-location paragraph--small paragraph--upper paragraph--tracking">{{ sight.location }}</p>
        <p>{{ sight.description | truncate: 80 }}</p>
      </span>

    </a>
  </div>

{% else %}

  <div class="row__column">
    <a
      href="javascript:void(0);"
      class="sight js-open-modal"
      data-modal="sight"
      data-modal-item="{{ sight.class }}">

      <span class="sight__image bg-image-ratio bg-image-ratio--1-1" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/sight-{{ sight.class }}.jpg');"></span>

      <span class="sight__content">
        <h4 class="sight__content-title title title--bold title--upper">{{ sight.title }}</h4>
        <p class="sight__content-location paragraph--small">{{ sight.description | truncate: 31 }}</p>
      </span>
    </a>
  </div>

{% endif %}