
/*|---
  | BANNER [.banner]
  |---
  | Styles for the banner section on all pages, and region popups.
  |------------------------------------------------*/


.banner {
  position: relative;
  padding: 12em 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__content {
    position: relative;
    text-shadow: 0 0 30px rgba(#212121,0.5);
    &-description { max-width: 720px; margin-left: auto; margin-right: auto; }
  }


  /*====== REGION MODAL BANNER ======*/
  &--region {
    text-shadow: 0 2px 30px #212121;
    padding: 5em 2em;
  }


  /*====== TRIED AND TESTED STAMP ======*/
  &__roadtrip-approved {
    height: 130px;
    width: 130px;
    position: absolute;
    top: -150px;
    left: 10px;
    margin-left: auto;
    @include bp(xlarge){
      top: -68px;
      left: 50%;
      margin-left: -300px;
    }
  }

}