
// ---------- BANNER ----------

.banner {
  position: relative;
  padding: 10em 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  &__title { font-style: italic; }
  &__partnership {
    display: inline-block;
    margin-top: 1em;

    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    vertical-align: middle;
    &--logo { width: 80px; }
  }
  &--breadcrumbs {}


  // Region modal banner
  &--region {
    text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 5em 0; 
  }


  // Microsite navigation
  &__navigation {
    position: absolute;
    bottom: 0;
    z-index: $z-nav-upper;
    width: 100%;
    height: 45px;
    font-family: $title-font-family;
    font-weight: 600;
    color: $dark-grey;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: .066em;
    text-transform: uppercase;
    text-align: center;
    background-color: $beige;

    @include bp(large){
      &--stuck { position: fixed; top: 0; bottom: auto; }
    }

    &:before {
      // prompt for horizontal scroll on phone
      pointer-events: none;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: $z-nav-upper;
      display: block;
      width: $nav-arrow-width;
      height: $site-nav-height;
      background-image: url("../img/icons/nav-arrow-light.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: $nav-arrow-width auto;
    }
    @include bp(xlarge){
      &:before { display: none; }
    }

    &__list {
      padding-right: $nav-arrow-width;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      @include bp(xlarge){
        padding-right: 0;
        overflow: visible;
      }
    }
    &__item {
      height: $site-nav-height;
      position: relative;
      display: inline-block;
      white-space: nowrap;
      background-color: transparent;
      @include transition();
      &--current,
      &:hover {
        background-color: $off-white;
      }
    }
    &__link {
      display: inline-block;
      width: 100%;
      padding: 15px 1.2em;
      &:hover {
        text-decoration: none;
      }
    }

    // flexbox resizing
    @include bp(xlarge){
      overflow: visible;
      height: auto;
      .flexbox & {
        &__list {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
        }
        &__item { flex-grow: 1; }
      }
    }




    // Banner offset for top header
    &__offset:before {
      content: '';
      display: block;
      height: 45px;
    }

  }
}