// modal specific

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-overlay;
  background-color: $black;
  background-color: $black-66;
  cursor: pointer;
  overflow: scroll;
  &.is-open { display: block;}
  &.is-closed { display: none; }

  &--vertical-align {
    .modal {
      &__wrap {
        display: table;
      }
      &__content {
        display: table-cell;
        vertical-align: middle;
      }
      &__item {
        display: flex;
        &-inactive {
          display: none;
        }
      }
    }
  }

  &__wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: auto;
    margin-top: 0 !important;
    width: 100%;
    height: 100%;
  }

  &__content {
    height: 100%;
    overflow: scroll;
    position: relative;
    padding-top: $margin;
    padding-bottom: $margin;
  }
  &__item {
    background-color: #fff;
    margin: 2em auto;
    box-shadow: 0 0 20px 0px $black-5;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    &-inactive { display: none; }
    &__content {
      padding: 2.5em 1.5em 1em;
      @include bp(large) {
        padding: 1.5em 2em;
      }
    }
  }



  &__close {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    background-color: $se-dark-grey-85;
    background-image: url('../img/icons/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: $z-overlay-upper;
    @include transition;
    .svg & {
      background-image: url('../img/icons/close.svg');
    }
  }
}

.disable-scroll {
  overflow: hidden;
}



/* MODAL SLIDER */

#modal__slider {
  overflow: visible;
  .slide {}
}
.modal__slider-nav {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.modal__slider-next,
.modal__slider-previous {
  background-color: $black-5;
  width: 50px;
  height: 50px;
  padding: 0;
  text-align: center;
  overflow: hidden;
  display: block;
  float: left;

  position: absolute;
  top: 50%; transform: translateY(-50%);

  font-size: 30px;
  font-weight: 800;
  color: white;
  line-height: 50px;
  &:hover { background-color: $black-85; }

  img { width: 20px; vertical-align: baseline; }
}
.modal__slider-next { right: -50px; }
.modal__slider-previous { left: -50px; }
