// Offer block styles for {{ include offer-block.html }}


.offer {
  border: 1px solid $black-15;
  background-color: $white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  &.row__column{
    margin-bottom: 2em;
  }

  &--center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }

  &__link {
    @include transition();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: block;
    opacity: 0;
    background-color: transparent;
    .flexbox & {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &:hover {
      opacity: 1;
      background-color: rgba(0,0,0,.15);
      color: #fff;
      text-decoration: none;
    }
    .btn { margin-top: 50%; }
    .flexbox & .btn { margin-top: 0; }
  }

  &__image {
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
    &-link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__content {
    overflow: hidden;
    padding: 1em 1.5em;

    &-description {
      font-size: 0.9em; line-height: 1.4;
      & + & { margin-top: .2em; }
    }

    &-title {
      font-family: $main-font-family;
      font-size: 1.35em;
      font-weight: 500;
      color: $text-heading;
      margin-bottom: 0.2em;
      line-height: 1.4;
    }
    &-location {
      margin-bottom: .833em;
      font-size: 0.87em;
      line-height: 1.44;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 600;
      &:before {
        content: "";
        display: inline-block;
        height: 1em;
        width: .833em;
        margin-right: .482em;
        margin-bottom: .2em;
        vertical-align: bottom;
        background-image: url( "../img/icons/map-pin.png" );
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: contain;
        .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
      }
    }
    &-saved {
      width: 30%;
      padding-right: 5%;
      margin-right: 5%;
      border-right: 1px solid $black-15;
      float: left;
      text-align: center;
      &-num {
        margin-top: 0.2em;
        border-radius: 10em;
        background-color: $se-orange;
        color: #fff;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        font-size: 0.9em;
        font-weight: 800;
      }
    }
    &-details {
      width: 65%;
      display: inline-block;
      vertical-align: top;
    }
    &-price {
      color: $se-orange;
      font-size: 1.3em;
      font-weight: bold;
    }
    &-ends {
    }
    &-buttons {
      margin-top: 1em;
      .btn {
        min-width: 48%;
        display: inline-block;
        float: left;
        margin-top: 0;
        text-align: center;
      }
      .btn + .btn { margin-left: 4%; }
    }
  }
}