
// ALL CUSTOM STYLES FOR THE SITE
// ==============================


body { background-color: $white; }

// ---------- SECTION STYLES ----------

.invert-text {
  color: $white;
  hr { background-color: $white-25; }
  .title { color: $white; }
}
.default-text {
  color: $text-paragraph;
  hr { background-color: $black-25; }
  .title { color: $text-heading; }
}
.bg {
  &--white      { background-color: $white; }
  &--black      { background-color: $black; }
  &--light-grey { background-color: $light-grey; }
  &--off-white { background-color: $off-white; }
  &--grey       { background-color: $grey; }
  &--dark-grey  { background-color: $dark-grey; }
  &--text-black     { background-color: $text-black; }
  &--text-heading   { background-color: $text-heading; }
  &--text-paragraph { background-color: $text-paragraph; }
  &--se-orange     { background-color: $se-orange; }
  &--se-light-grey { background-color: $se-light-grey; }
  &--se-dark-grey  { background-color: $se-dark-grey; }
  &--partner-primary   { background-color: $partner-primary; }
  &--partner-secondary { background-color: $partner-secondary; }
  &--theme-primary   { background-color: $theme-primary; }
  &--theme-secondary { background-color: $theme-secondary; }
}


// ---------- BUTTONS ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .7em 3em .5em;
  font-family: $title-font-family;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 3px;
  color: white;
  background-color: $theme-primary;
  &:hover {
    background-color: $theme-secondary;
    text-decoration: none;
  }
  & + & { margin-left: 0.5em; }
  * + & { margin-top: 1.5em; }

  &--subtle {
    color: $dark-grey;
    border: 2px solid rgba($dark-grey, 0.4);
    background-color: transparent;
    &:hover { border: 2px solid rgba($dark-grey, 0.7); background-color: transparent; }
  }
  &--small { font-size: 0.85em; padding: .5em 1.5em .2em; }
  &--large { font-size: 1.1em; padding: .4em 2.5em; }
  &--invert {
    background-color: $white-85; color: $dark-grey;
    &:hover { background-color: $white; color: $dark-grey; }
  }
}


// ---------- SIGHTS & REGION CARDS ----------

.sight,
.region {
  @include transition();
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
  width: 100%;
  border: 1px solid $off-white;
  background-color: $white;
  border-radius: 5px;
  padding-left: 90px;
  height: 90px;
  .flexbox & {
    display: flex;
    align-items: center;
  }

  &__image {
    position: absolute; left: 0; width: 90px; height: 100%;
    background-size: cover; background-repeat: no-repeat; background-position: center;
  }
  &__content {
    padding: 1em 0.5em 1em 1.5em;
    overflow: hidden;
    display: block;
    text-align: left;
    &-title {}
    &-location { margin-top: 0; }
  }

  &:hover {
    background-color: $light-grey;
    text-decoration: none;
  }

  &--feature {
    height: auto;
    margin-bottom: 0;
    padding-left: 150px;
    & .sight__image { width: 150px; }
  }
}

.region {
  border: 0;
  background-color: $white;
  box-shadow: 0 0 5px $black-33;

  .flexbox & {
    display: flex;
    align-items: center;
  }

  &__image { }
  &__content {
    padding: 1em 1.5em; overflow: hidden; display: block;
    &-title {}
    &-location { margin-top: 0; }
  }

  &:hover {
    background-color: $light-grey;
    text-decoration: none;
  }

}


// ---------- REGION MAP ----------

.region-map {
  position: relative;
  &-section { background-attachment: fixed; }

  &__points {
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__point {
    @include transition();
    position: absolute;
    background-color: rgba($dark-grey, 0.8);
    border: 1px solid $white-25;
    padding: 1px 10px;
    border-radius: 4em;
    white-space: nowrap;
    font-family: $title-font-family;
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 0.05em;
    &:hover { text-decoration: none; background-color: $dark-grey; }
  }
  #point {
    &--northern-scotland { top: 19%; left: 52%; }
    &--southern-scotland { top: 39%; left: 51%; }
    &--north-east { top: 45%; left: 66%; }
    &--north-west { top: 50%; left: 57%; }
    &--yorkshire-the-humber { top: 57%; left: 63%; }
    &--east-midlands { top: 68%; left: 72%; }
    &--west-midlands { top: 72%; left: 57%; }
    &--north-wales { top: 65%; left: 49%; }
    &--south-wales { top: 77%; left: 45%; }
    &--east-anglia { top: 79%; left: 87%; }
    &--south-east { top: 87%; left:67%; }
    &--south-west { top: 89%; left: 44%; }
  }
  &__map {
    // container for map background image
    &__img {
      // default img
    }
    &__current {
      // region currently hovered on
    }
  }
  #region {
    &--northern-scotland {}
    &--southern-scotland {}
    &--north-east {}
    &--north-west {}
    &--yorkshire-the-humber {}
    &--east-midlands {}
    &--west-midlands {}
    &--north-wales {}
    &--south-wales {}
    &--east-anglia {}
    &--south-east {}
    &--south-west {}
  }
}


// ---------- 50-50 Sections ----------

.section--columns-6-6 { }

.section__column {
  width: 100%;
  position: relative;

  &-content {
    &__text {
      padding: 30px 30px;
    }
  }

  &-image {
    height: 200px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@include bp(xlarge){

  .section--columns-6-6 { min-height: 450px; }

  .section__column {
    width: 50%; height: 100%;
    position: absolute;
    &--left { left: 0; }
    &--right { right: 0; }

    &-content {
      display: flex;
      align-items: center;
      &__text { }
    }

    &-image {
      height: 100%;
    }
  }

}

.roadtrip-image {
  &__content {
    @include transition();
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 100%;
    opacity: 0;
  }
  &:hover &__content {
    top: 50%;
    opacity: 1;
  }
}


// ---------- COMPETITION PAGE ----------

.competition-feed {
  overflow: visible;
  position: relative;
  max-width: 1280px;

  &__content {
    &-image { margin-bottom: 1.5em; }
  }

  &__map {
    position: absolute;
    top: -4em;
    right: 0;
    bottom: 0;
    padding: 2em 2em 2em 0;
    &-content {
      background-color: #eee;
    }

    // fixed state
    &--fixed {
      position: fixed;
      top: 3em;
    }
    &--end {
      position: absolute;
      top: auto;
      bottom: 0
    }
  }
}


