// all custom styles for the site


body {
  background-color: $se-light-grey;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../img/bg/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

// ---------- Section styles ----------

.invert-text { color: $white; }
.bg {
  &--white      { background-color: $white; }
  &--black      { background-color: $black; }
  &--light-grey { background-color: $light-grey; }
  &--dark-grey  { background-color: $dark-grey; }
  &--text-black     { background-color: $text-black; }
  &--text-heading   { background-color: $text-heading; }
  &--text-paragraph { background-color: $text-paragraph; }
  &--se-orange     { background-color: $se-orange; }
  &--se-light-grey { background-color: $se-light-grey; }
  &--se-dark-grey  { background-color: $se-dark-grey; }
  &--partner-primary   { background-color: $partner-primary; }
  &--partner-secondary { background-color: $partner-secondary; }
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .5em 1.5em;
  border: 1px solid $se-orange;
  font-weight: 500;
  border-radius: 10em;
  &:hover {
    color: white;
    background-color: $se-orange;
    text-decoration: none;
  }
  * + & { margin-top: 1em; }

  &--solid { color: white; border: 0; background-color: $se-orange; }
  &--large { font-size: 1.2em; padding: .5em 3em; }
}
