
/*|---
  | TYPOGRAPHY
  |------------------------------------------------*/


/*====== WEBFONTS ======*/

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel/Sentinel-Light.eot');
  src: url('../fonts/Sentinel/Sentinel-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel/Sentinel-Light.woff') format('woff'),
    url('../fonts/Sentinel/Sentinel-Light.ttf') format('truetype'),
    url('../fonts/Sentinel/Sentinel-Light.svg#Sentinel-Light') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel/Sentinel-LightItalic.eot');
  src: url('../fonts/Sentinel/Sentinel-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel/Sentinel-LightItalic.woff') format('woff'),
    url('../fonts/Sentinel/Sentinel-LightItalic.ttf') format('truetype'),
    url('../fonts/Sentinel/Sentinel-LightItalic.svg#Sentinel-LightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel/Sentinel-Book.eot');
  src: url('../fonts/Sentinel/Sentinel-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel/Sentinel-Book.woff') format('woff'),
    url('../fonts/Sentinel/Sentinel-Book.ttf') format('truetype'),
    url('../fonts/Sentinel/Sentinel-Book.svg#Sentinel-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel/Sentinel-BookItalic.eot');
  src: url('../fonts/Sentinel/Sentinel-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel/Sentinel-BookItalic.woff') format('woff'),
    url('../fonts/Sentinel/Sentinel-BookItalic.ttf') format('truetype'),
    url('../fonts/Sentinel/Sentinel-BookItalic.svg#Sentinel-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel/Sentinel-Semibold.eot');
  src: url('../fonts/Sentinel/Sentinel-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel/Sentinel-Semibold.woff') format('woff'),
    url('../fonts/Sentinel/Sentinel-Semibold.ttf') format('truetype'),
    url('../fonts/Sentinel/Sentinel-Semibold.svg#Sentinel-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sentinel';
  src: url('../fonts/Sentinel/Sentinel-SemiboldItalic.eot');
  src: url('../fonts/Sentinel/Sentinel-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Sentinel/Sentinel-SemiboldItalic.woff') format('woff'),
    url('../fonts/Sentinel/Sentinel-SemiboldItalic.ttf') format('truetype'),
    url('../fonts/Sentinel/Sentinel-SemiboldItalic.svg#Sentinel-SemiboldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
}


/*====== SITE TYPOGRAPHY ======*/

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$title-font-family: 'Sentinel', Georgia,Times,"Times New Roman",serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp(medium) {
    font-size: 15px;
  }
  color: $text-paragraph;
}



/*====== GENERAL STYLES & CLASSES ======*/

p             { max-width: $xlarge; }
p + *         { margin-top: 1em; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 800; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }
.align-center p,
p.align-center { margin-left: auto; margin-right: auto; }

.mobile-align-center {
  text-align: center;
  @include bp(medium) { text-align: inherit; }
}

hr {
  border: 0;
  height: 1px;
  background-color: $black-15;
  margin: 2em 0;
  .align-center &,
  &.align-center { width: 120px; margin-left: auto; margin-right: auto; }
}

/*====== TITLES & PARAGRAPH ======*/

.title {
  font-family: $title-font-family;
  color: $text-heading;
  letter-spacing: .025em;
  line-height: 1.1;
  + * { margin-top: .6em; }
  + hr { margin-top: 2em; }
  & + & { margin-top: .2em; }
}

.title,
.paragraph {
  &--tracking { letter-spacing: 0.1em;}

  &--light     { font-weight: 200; }
  &--bold      { font-weight: 600; }
  &--bolder    { font-weight: 800; }
  &--expanded  { letter-spacing: .2em; }
  &--condense  { letter-spacing: 0; }
  &--tight     { line-height: .9; }
  &--tighter   { line-height: .8; }
  &--upper     { text-transform: uppercase; }
  &--italic    { font-style: italic; letter-spacing: 0; }

  &--largest     { font-size: 4.3em; }
  &--larger      { font-size: 3.375em; }
  &--large       { font-size: 2.986em; }
  &--medium      { font-size: 2.25em; }
  &--small       { font-size: 2em; }
  &--smaller     { font-size: 1.867em; }
  &--smallest    { font-size: 1.65em; }
  &--tiny        { font-size: 1.44em; }
  &--micro       { font-size: 1.2em; }
  @include bp(xxlarge){
    &--largest     { font-size: 8em; }
    &--larger      { font-size: 6em; }
    &--large       { font-size: 4em; }
    &--medium      { font-size: 2.933em; }
    &--small       { font-size: 2.467em; }
    &--smaller     { font-size: 2.25em; }
  }
}


/*====== PARAGRAPH ======*/

.paragraph {
  &--lead {
    font-size: 1.1em;
    line-height: 1.5;
  }
  &--large { font-size: 1.05em; }
  @include bp(large){
    &--lead { font-size: 1.267em; }
    &--large { font-size: 1.2em; }
  }
  &--small {
    font-size: 0.85em;
  }
}


/*====== BUTTONS ======*/

.btn {
  @include transition;
  display:inline-block;
  padding: .5em 1.5em .4em;
  font-family: $title-font-family;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-radius: 3px;
  color: white;
  background-color: $theme-primary;

  font-size: 0.85em;
  padding: .5em 1.5em .4em;
  @include bp(large){
    font-size: 0.9em;
    padding: .5em 2em .4em;
  }
  &:hover {
    background-color: $theme-secondary;
    text-decoration: none;
  }
  & + & { margin-left: 0.5em; }
  * + & { margin-top: 1.5em; }

  &--subtle {
    color: $dark-grey;
    border: 2px solid rgba($dark-grey, 0.4);
    background-color: transparent;
    &:hover { border: 2px solid rgba($dark-grey, 0.7); background-color: transparent; }
    &-invert {
      background-color: transparent; color: $white;
      border: 2px solid rgba($white, 0.4);
      &:hover { border: 2px solid $white; background-color: $white; color: $dark-grey; }
    }
  }
  &--small { font-size: 0.85em; padding: .5em 1.5em .2em; }
  @include bp(large){
    &--large { font-size: 1.1em; padding: .4em 2.5em; }
  }
  &--invert {
    background-color: $white-85; color: $dark-grey;
    &:hover { background-color: $white; color: $dark-grey; }
  }
  &--se {
    background-color: $se-orange-85; color: $white;
    &:hover { background-color: $se-orange; color: $white; }
  }
}


/*====== LISTS ======*/

dl {
  dt { margin-bottom: 5px; }
  dd {}
}

.list {
  &--horizontal {
    list-style: none; padding: 0; margin: 0;
    li {
      display: inline-block; position: relative; padding: 0 1em;
    }
    li + li:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      height: 100%;
      width: 1px;
      background-color: $white-15;
      transform: translateY(-50%);
    }
  }
  &--lined {
    li {
      list-style: none;
      padding: 4px 0;
    }
    li + li {
      border-top: 1px solid $black-25;
      .invert-text & { border-top: 1px solid $white-25; }
    }
  }
}