---
layout: default
title: Competition
class: competition
nav-order: 8

banner-title: 
banner-intro: >
  <p class="paragraph--lead">Explore the rugged landscape of the Highlands, stepping into your MINI Countryman for unforgettable driving in the remotest parts of Scotland.</p>

intro: >
  <p class="paragraph--lead">As the comfort of the MINI propels you into the heart of the Highlands, let the landscape inspire you to drive off the beaten path, discovering secluded spots magnificent in their resplendence. </p>
  <p>Follow the winding roads through the Isle of Skye, where you’ll bed down for the night, before continuing your journey across the waters to the Outer Hebrides. These isolated lands offer a boundless privacy, and a comforting solace as you arrive at Őran na Mara. Five nights at this unbelievably picturesque location await, whilst intrepid exploration of the island could lead to further adventure. Though the weather can be unpredictable, you and your partner for the journey will be able to pick a jacket, jumper and pair of boots from Barbour, perfect for coping with the temperamental weather of this rugged land.</p>
  <a href="#enter" class="btn btn--solid btn--invert">Enter now</a>
---



<section class="section--intro bg--theme-primary invert-text align-center">
  <div class="row row--padding">
    {{ page.intro }}
  </div>
</section>


<section id="competition">
  <div class="competition-feed row row--columns-6-6">
    <div class="row__column competition-feed__content">
      <div class="row row--padding">

        <div class="competition-feed__content-image bg-image-ratio bg-image-ratio--21-9" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-inverness.jpg');"></div>

        <span class="title title--smallest title--italic">Your journey begins in...</span>
        <h2 class="title title--small title--upper title--light">Inverness</h2>
        <p>Land in Inverness, the gateway to the Highlands. Your MINI Countryman will be waiting for you on arrival. You may wish to hit the road right away, and who can blame you, your drive is going to be epic. Should you wish to explore however, you’ll find a city that retains its market town feel. On the banks of the river Ness, fine restaurants abound, making this a perfect pit-stop before heading into the wilderness.</p>
      </div>

      <div class="row row--padding">

        <div class="row--columns-6-6-gutters">
          <div class="competition-feed__content-image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-loch-ness-1.jpg');"></div>
          <div class="competition-feed__content-image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-loch-ness-2.jpg');"></div>
        </div>

        <h2 class="title title--small title--upper title--light">Loch Ness</h2>
        <p>As you leave the city, you’ll trace the road that lines the length of Loch Ness. Breathtaking views over the loch and up the the crags await, with ample opportunity to pull over and bask in the glory of the views. Be sure to look out for the romantic ruin of Urquhart castle, and if you fancy a giggle you can always check out the Nessieland museum in Drumnadrochit. Failing that, head out on this stunning road and see if you can catch the monster peeping above the shimmering waters. </p>
      </div>

      <div class="row row--padding">

        <div class="competition-feed__content-image bg-image-ratio bg-image-ratio--21-9" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-middle-bit.jpg');"></div>

        <div class="row--columns-6-6-gutters">
          <div class="competition-feed__content-image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-middle-bit-1.jpg');"></div>
          <div class="competition-feed__content-image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-middle-bit-2.jpg');"></div>
        </div>

        <h2 class="title title--small title--upper title--light">The middle bit…</h2>
        <p>As you leave the idylls of Loch Ness, the road veers north, and the landscape starts to undulate with jutting peaks on either side. Tarmac stretches run ahead undisturbed, offering sublime driving in near isolation, mile after mile. As you glide past your third loch and near the Isle of Skye, the castle of Eilean Donan juts out into the loch, framed by steep crags and shimmering waters. A perfect spot for a break, and to take in the unique Highland panorama.</p>
      </div>

      <div class="row row--padding">

        <div class="competition-feed__content-image bg-image-ratio bg-image-ratio--21-9" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-isle-of-skye.jpg');"></div>

        <h2 class="title title--small title--upper title--light">Isle of Skye</h2>
        <p>This stunning isle only improves on the incredible drive thus far embarked upon. Dramatic peaks fall to the coast, as the road twists between loch and crag with ease. As Scotland’s third biggest tourist destination, Skye is famed for its stunning landscape, within which you’ll find a host of cosy pubs, sleepy villages and fine restaurants. It makes for the perfect stop-off after a long day driving on some of the best roads in the UK. You’ll be bedding down [HOTEL TBC]</p>
        <p>After a good night’s sleep, head to Uig to catch the ferry to Tarbert.</p>
      </div>

      <div class="row row--padding">

        <div class="row--columns-6-6-gutters">
          <div class="competition-feed__content-image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-outer-hebrides-1.jpg');"></div>
          <div class="competition-feed__content-image row__column bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-outer-hebrides-2.jpg');"></div>
        </div>

        <h2 class="title title--small title--upper title--light">Outer Hebrides</h2>
        <p>As you enter Tarbert, you approach a remote collection of islands that splinter outward into the Atlantic. Rugged valleys, crystal pools and dreamy coastline awaits, begging to be explored.</p>
      </div>
    </div>


    <!-- MAP HALF -->
    <div class="row__column competition-feed__map">
      <div class="competition-feed__map-content" id="map"></div>
    </div>

  </div>
</section>


<section class="align-center" id="oranamara">
  <div class="row--wide row--padding">

    <div class="competition-feed__content-image bg-image-ratio bg-image-ratio--3-1" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/feed-orannamara.jpg');"></div>

    <span class="title title--smallest title--italic">Welcome to</span>
    <h2 class="title title--small title--upper title--light">Òran na Mara</h2>
    <p>Your stay at Őran na Mara typifies the breathtaking panorama of the islands, and the seclusion and privacy granted at such a wonderfully remote getaway. The holiday home is graced with unique design that takes full advantage of the incredible views this beachside property affords. Floor to ceiling windows allow near full panorama of this sublime location, and cosy contemporary design tempts you to spend days indoors – but the open road awaits, and the island call for intrepid exploration.</p>
    <a href="#enter" class="btn">Enter now</a>
  </div>
</section>


<!-- ENTER FORM -->
<section class="bg--light-grey align-center" id="enter">
  <div class="row row--padding">
    <h2 class="title title--medium title--bold title--upper">Enter below to be in to win!</h2>
  </div>
  <div class="row row--padding">
    <iframe src="https://promotion2802.strutta.me" width="100%" height="800"> </iframe>
  </div>
</section>



{% include partner-banner.html %}



<!-- COMPETITION MAP JAVASCRIPT -->
<script>
  function initMap() {

    {% include map-settings.html %}

    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;

    var mapElement = document.getElementById('map');
    var map = new google.maps.Map(mapElement, mapOptions);

    directionsDisplay.setMap(map);



    //------ ROUTE ------

    // three points through which the directions pass
    var point1 = new google.maps.LatLng(57.334658,-4.480661);
    var point2 = new google.maps.LatLng(57.159440,-5.166017);
    var point3 = new google.maps.LatLng(57.472170,-6.291962);
    var point4 = new google.maps.LatLng(57.579633,-6.390447);

    // build an array of the points
    var wps = [{ location: point1 }, { location: point2 }, {location: point3}, {location: point4}];

    // set the origin and destination
    var org = new google.maps.LatLng ( 57.484417,-4.216003 );
    var dest = new google.maps.LatLng ( 57.822406,-7.058716 );

    directionsService.route({
      origin: org,
      destination: dest,
      waypoints: wps,
      travelMode: 'DRIVING'
    }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });

  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvcJtBKtS2zAqS-nk2AsFJvpb0L37dDjg&callback=initMap"></script>