
<div class="row__column offer{% if forloop.first and forloop.last %} offer--center{% endif %} {{ include.class }}">

  <a href="{{ offer.link }}" class="offer__link">
    <span class="btn">View Offer</span>
  </a>

  <div class="offer__image bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')">
    {% if offer.tried %}
      <span class="offer__tried">
        <img src="{{ site.baseurl }}/img/icons/approved.png" class="js-svg-swap" width="100%">
      </span>
    {% endif %}
  </div>

  <div class="offer__content">


    <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
    <h3 class="offer__content-location">{{ offer.location }}</h3>

    {% if offer.description %}
      <p class="offer__content-description">{{ offer.description | truncate: 80 }}</p>
    {% endif %}


    <div class="row">

      {% if offer.saved %}

        <div class="offer__content-saved">
          <span class="paragraph--small">Save up to</span>
          <span class="offer__content-saved-num">
            {{ offer.saved }}
          </span>
        </div>
        <div class="offer__content-details">
          <p>
            From <span class="offer__content-price">£{{ offer.price }}</span><br />
            {{ offer.price-description }}
          </p>
          {% if offer.expires %}
            <span class="offer__content-ends paragraph--small">Ending on <strong>{{ offer.expires | date_to_long_string }}</strong></span>
          {% endif %}
        </div>

      {% else %}

        <p class="paragraph--bold paragraph--upper">
          From <span class="offer__content-price">£{{ offer.price }}</span>
          {{ offer.price-description }}
        </p>
        {% if offer.expires %}
          <span class="offer__content-ends paragraph--small">Ending on <strong>{{ offer.expires | date_to_long_string }}</strong></span>
        {% endif %}

      {% endif %}

    </div>

  </div>

</div>