<div class="row row--columns-6-6 offer">
  <div class="row__column offer__image" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.title | slugify }}.jpg')">
    <a class="offer__image-link" id="image-link-{{ offer.title | slugify }}" href="{{ offer.link }}"></a>
  </div>

  <div class="row__column offer__content">

    <h2 class="offer__content-title"><a id="title-link-{{ offer.title | slugify }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
    <h3 class="h4 offer__content-location">{{ offer.location }}</h3>

    <hr />

    {% if offer.description %}
      <p>{{ offer.description }}</p>
    {% endif %}

    <p>From <strong>£{{ offer.price }}</strong> {{ offer.price-description }}</p>

    {% if offer.saved %}
      <p>Save up to <strong>{{ offer.saved }}</strong></p>
    {% endif %}

    {% if offer.expires %}
      <p>Offer ends on <strong>{{ offer.expires | date_to_long_string }}</strong></p>
    {% endif %}

    <a id="button-link-{{ offer.title | slugify }}" href="{{ offer.link }}" class="btn btn--solid">View Offer</a>

  </div>

</div>