---
layout: default
---

<section class="section--intro bg--dark-grey invert-text align-center">
  <div class="row row--padding">
    {{ page.intro }}
  </div>
</section>



{% assign categories = site.pages | where: 'layout', 'content' | sort:"nav-order" %}
{% for category in categories %}

  {% capture align-text %}{% cycle 'left', 'right' %}{% endcapture %}
  {% capture align-image %}{% cycle 'right', 'left' %}{% endcapture %}

  <section class="section--padding-none {% cycle 'bg--light-grey', '' %}">
    <div class="section--columns-6-6 align-center">

      <a
        href="{{ site.baseurl }}{{ category.url }}"
        class="section__column section__column-image section__column--{{ align-image }}"
        style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ category.class }}.jpg');">
      </a>

      <div class="section__column section__column-content section__column--{{ align-text }}">
        <div class="section__column-content__text">
          <h2 class="title title--medium title--bold title--upper">{{ category.title }}</h2>
          <p>{{ category.intro | strip_html }}</p>
          <div class="row row--columns-6-6-gutters">
            {% for sight in category.sights %}
              {% if sight.feature %}
                <div class="row__column">
                  <a href="{{ site.baseurl }}{{ category.url }}" class="sight" data-sight="{{ sight.class }}">

                    <span class="sight__image bg-image-ratio bg-image-ratio--1-1" style="background-image: url('{{ site.baseurl }}/img/content/{{ category.class }}/sight-{{ sight.class }}.jpg');"></span>

                    <span class="sight__content">
                      <h4 class="sight__content-title title title--bold title--upper">{{ sight.title }}</h4>
                      <p class="sight__content-location paragraph--small paragraph--upper paragraph--tracking">{{ sight.location }}</p>
                    </span>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <a href="{{ site.baseurl }}{{ category.url }}" class="btn btn--solid">Discover the {{ category.title }}</a>
        </div>
      </div>

    </div>
  </section>
{% endfor %}



<section class="bg--dark-grey invert-text regions" id="region-map" style="background-image: url('{{ site.baseurl }}/img/bg/map-bg.jpg');">
  <div class="row row--padding row--columns-vertical-align">


    <div class="regions__content section--padding-large">

      <h2 class="title title--medium title--bold title--upper">Country Breaks</h2>
      <h3 class="title title--italic title--smallest">Let us inspire you to escape to the British countryside.</h3>

      <p>Take to the road and leave the hustle and bustle of city life behind. Breeze through quaint villages and revel in the slower pace of life. Discover the best scenic drives by region, and let Secret Escapes complete your getaway with the very best luxury country digs. Simply explore the map by clicking on a region and plan your country escape today.</p>

      <a href="javascript:void(0);" id="tracking-regions-map-button" class="btn btn--invert js-open-modal" data-modal="region" data-modal-item="south-west" >Browse the map to get inspired</a>

    </div>


    <div class="regions__map">
      <div class="regions__map-points">
        {% for region in page.regions %}
          <a href="javascript:void(0);" class="regions__map-point js-open-modal" id="point--{{ region.class }}" data-modal="region" data-modal-item="{{ region.class }}">{{ region.title }}</a>
        {% endfor %}
      </div>
      <div>
        <img src="{{ site.baseurl }}/img/content/{{ page.class }}/offer-map--default.png">
      </div>
    </div>


  </div>
</section>



{% include partner-banner.html %}



<!-- REGION MODAL -->

<div class="js-modal modal is-closed" id="modal-region">

  <div class="modal__wrap row">
    <div class="modal__content" id="modal__slider">

      {% for region in page.regions %}
      <div class="slide modal__item row" id="modal__item-{{ region.class }}">

        <!-- Intro -->
        <div class="banner banner--region invert-text align-center" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/region-{{ region.class }}.jpg');">
          <div class="js-close-modal modal__close"></div>

          <h2 class="title title--large title--italic">
            {{ region.title }}
          </h2>
          <p class="paragraph--lead">{{ region.description }}</p>

        </div>

        <!-- Roadtrip -->
        <div class="row--columns-6-6 row--columns-vertical-align invert-text bg--grey">

          <div class="row__column row--padding row--padding-vertical">
            <h3 class="title title--smaller title--bold title--upper">Roadtrip</h3>
            <p>{{ region.roadtrip }}</p>
            <a target="_blank" href="{{ region.roadtrip-link }}" class="btn btn--small btn--invert">View roadtrip</a>
          </div>

          <div class="row__column">
            <div
              class="bg-image-ratio bg-image-ratio--3-2 regions__roadtrip"
              style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/region-{{ region.class }}-roadtrip.jpg');">
              <span class="regions__roadtrip-content align-center">
                <a target="_blank" href="{{ region.roadtrip-link }}" class="btn btn--large">View Roadtrip</a>
              </span>
            </div>
          </div>

        </div>



        <!-- Competition Banner - IF Northern Scotland -->
        {% if region.class == 'northern-scotland' %}
          <div class="row--columns-6-6 row--columns-vertical-align bg--partner-primary invert-text">

            <a href="{{ site.baseurl }}/competition" class="row__column bg-image-ratio bg-image-ratio--21-9" style="background-image: url('{{ site.baseurl }}/img/bg/banner-competition.jpg');">
            </a>

            <div class="row__column row--padding">
              <h4 class="title title--smallest title--italic">Fancy winning a stay in the finest Scottish digs we’ve ever seen?</h4>
              <a href="{{ site.baseurl }}/competition" class="btn btn--invert">Enter now</a>
            </div>

          </div>
        {% endif %}


        <!-- Offers // if offers -->
        {% assign offers = site.data.offers | where:'region',region.class %}
        {% if offers.size != 0 %}
          <div class="section section--padding bg--light-grey align-center">
            <h4 class="title title--upper title--bold title--small">Offers</h4>
          </div>
          <div class="section section--padding-none row--padding bg--light-grey row--columns-4-4-4-gutters">
            {% for offer in offers %}
              {% if offer.se-offer %}
                {% include offer/default.html %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="section section--padding bg--light-grey align-center">
            <a href="{{ site.baseurl }}/offers" class="btn">View all offers</a>
          </div>
        {% endif %}

      </div>
      {% endfor %}

      <!-- MODAL SLIDER NAVIGATION -->
      <div class="modal__slider-nav">
        <a class="modal__slider-previous" id="modal_slider--previous" href="javascript:void(0);">
          <img class="js-svg-swap" width="20" src="{{site.baseurl}}/img/icons/arrow-previous.png" alt="<">
        </a>
        <a class="modal__slider-next" id="modal_slider--next" href="javascript:void(0);">
          <img class="js-svg-swap" width="20" src="{{site.baseurl}}/img/icons/arrow-next.png" alt=">">
        </a>
      </div>

    </div>
  </div>
</div>