---
layout: default
---


{% assign categories = site.pages | where: 'layout', 'content' | sort:"nav-order" %}
{% for category in categories %}

  {% capture align-text %}{% cycle 'left', 'right' %}{% endcapture %}
  {% capture align-image %}{% cycle 'right', 'left' %}{% endcapture %}

  <section class="section--padding-none {% cycle 'bg--light-grey', '' %}">
    <div class="section--columns-6-6 align-center">

      <a
        href="{{ site.baseurl }}{{ category.url }}"
        class="section__column section__column-image section__column--{{ align-image }}"
        style="background-image: url('{{ site.baseurl }}/img/bg/banner-{{ category.class }}.jpg');">
      </a>

      <div class="section__column section__column-content section__column--{{ align-text }}">
        <div class="section__column-content__text">
          <h2 class="title title--medium title--bold title--upper">{{ category.title }}</h2>
          <p>{{ category.intro | strip_html }}</p>
          <div class="row row--columns-6-6-gutters">
            {% for sight in category.sights %}
              {% if sight.feature %}
                <div class="row__column">
                  <a href="{{ site.baseurl }}{{ category.url }}" class="sight" data-sight="{{ sight.class }}">

                    <span class="sight__image bg-image-ratio bg-image-ratio--1-1" style="background-image: url('{{ site.baseurl }}/img/content/{{ category.class }}/sight-{{ sight.class }}.jpg');"></span>

                    <span class="sight__content">
                      <h4 class="sight__content-title title title--bold title--upper">{{ sight.title }}</h4>
                      <p class="sight__content-location paragraph--small paragraph--upper paragraph--tracking">{{ sight.location }}</p>
                    </span>
                  </a>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <a href="{{ site.baseurl }}{{ category.url }}" class="btn btn--solid">Discover the {{ category.title }}</a>
        </div>
      </div>

    </div>
  </section>
{% endfor %}



<section class=" bg--dark-grey invert-text region-map-section" id="region-map" style="background-image: url('{{ site.baseurl }}/img/bg/map-bg.jpg');">
  <div class="row row--padding row--columns-5-7-gutters">


    <div class="row__column section--padding-large">
      <h2 class="title title--medium title--bold title--upper">Country Breaks</h2>
      <p>Browse by region on the map and discover epic roads that drive you through the heart of the most picturesque scenery these Isles have to offer. Tempted? Find Secret Escapes deals to complete your getaway... </p>
      <hr />

      {% for region in page.regions %}
      {% if region.feature %}
        <div class="row">
          <a
            href="javascript:void(0);"
            class="region default-text js-open-modal"
             data-modal="region"
             data-modal-item="{{ region.class }}">

            <span class="region__image" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/region-{{ region.class }}.jpg');"></span>

            <span class="region__content">
              <h4 class="title title--bold title--upper">{{ region.title }}</h4>
              <p class="paragraph--small">{{ region.description | truncate: 47 }}</p>
            </span>
          </a>
        </div>
      {% endif %}
      {% endfor %}
    </div>


    <div class="row__column region-map">
      <div class="region-map__points">
        {% for region in page.regions %}
          <a href="javascript:void(0);" class="region-map__point js-open-modal" id="point--{{ region.class }}" data-modal="region" data-modal-item="{{ region.class }}">{{ region.title }}</a>
        {% endfor %}
      </div>
      <div class="region-map__map">
        <img class="region-map__map__img" src="{{ site.baseurl }}/img/content/{{ page.class }}/offer-map--default.png">
      </div>
    </div>


  </div>
</section>



{% include partner-banner.html %}



<!-- REGION MODAL -->

<div class="js-modal modal is-closed" id="modal-region">

  <div class="modal__wrap row">
    <div class="modal__content" id="modal__slider">

      {% for region in page.regions %}
      <div class="slide modal__item row" id="modal__item-{{ region.class }}">

        <!-- Intro -->
        <div class="banner banner--region invert-text align-center" style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/region-{{ region.class }}.jpg');">
          <div class="js-close-modal modal__close"></div>

          <h2 class="title title--large title--italic">
            {{ region.title }}
          </h2>
          <p class="paragraph--lead">{{ region.description }}</p>

        </div>

        <!-- Roadtrip -->
        <div class="row--columns-6-6 row--columns-vertical-align invert-text bg--grey">

          <div class="row__column row--padding row--padding-vertical">
            <h3 class="title title--smaller title--bold title--upper">Roadtrip</h3>
            <p>{{ region.roadtrip }}</p>
            <a target="_blank" href="{{ region.roadtrip-link }}" class="btn btn--small btn--invert">View roadtrip</a>
          </div>

          <div class="row__column">
            <div
              class="bg-image-ratio bg-image-ratio--3-2 roadtrip-image"
              style="background-image: url('{{ site.baseurl }}/img/content/{{ page.class }}/region-{{ region.class }}-roadtrip.jpg');">
              <span class="roadtrip-image__content align-center">
                <a target="_blank" href="{{ region.roadtrip-link }}" class="btn btn--large">View Roadtrip</a>
              </span>
            </div>
          </div>

        </div>

        <!-- Offers // if offers -->
        {% assign offers = site.data.offers | where:'region',region.class %}
        {% if offers.size != 0 %}
          <div class="section section--padding bg--light-grey align-center">
            <h4 class="title title--upper title--bold title--small">Offers</h4>
            <p class="paragraph--lead">Take to the road and leave the hustle and bustle of city life behind, with opulent stays in quiet, peaceful country digs.</p>
          </div>
          <div class="section section--padding-none row--padding bg--light-grey row--columns-4-4-4-gutters">
            {% for offer in offers %}
              {% include offer/default.html %}
            {% endfor %}
          </div>
          <div class="section section--padding bg--light-grey align-center">
            <a href="{{ site.baseurl }}/offers" class="btn">View all offers</a>
          </div>
        {% endif %}

      </div>
      {% endfor %}

      <!-- MODAL SLIDER NAVIGATION -->
      <div class="modal__slider-nav">
        <a class="modal__slider-previous" id="modal_slider--previous" href="javascript:void(0);">
          <img class="js-svg-swap" width="20" src="{{site.baseurl}}/img/icons/arrow-previous.png" alt="<">
        </a>
        <a class="modal__slider-next" id="modal_slider--next" href="javascript:void(0);">
          <img class="js-svg-swap" width="20" src="{{site.baseurl}}/img/icons/arrow-next.png" alt=">">
        </a>
      </div>

    </div>
  </div>
</div>

