---
layout: roadtrip
title: Lake District Roadtrip
class: expert-lake-district
parent: Lake District
roadtrip-order: 3

banner-title: >
  <p class="title title--small title--italic">Secret Escapes in...</p>
  <h1 class="title title--large title--bold title--upper">the Lake District</h1>
banner-intro:

meta-by: George & Emma
meta-drive-route: Peak District to Lake District
meta-distance: 112 miles
meta-key-areas: Windermere, Keswick, Ullswater, Buttermere
meta-music: Run DMC, Nightmares on Wax (albeit nearly feel asleep to it, not ideal when driving) and ACDC (just ‘cause I’m such a DAD)
meta-weather: The sun was out but it was also windy as hell

gallery:
  - { name: 'windermere1' }
  - { name: 'windermere2' }
  - { name: 'windermere3' }
  - { name: 'mini1' }
  - { name: 'mini2' }
  - { name: 'hardknott1' }
  - { name: 'hardknott2' }
  - { name: 'hardknott3' }
  - { name: 'rothay-manor1' }
  - { name: 'rothay-manor2' }
  - { name: 'rothay-manor3' }
  - { name: 'keswick1' }
  - { name: 'keswick-to-buttermere1' }
  - { name: 'keswick-to-buttermere2' }
  - { name: 'honister-pass1' }
  - { name: 'honister-pass2' }
  - { name: 'buttermere1' }
  - { name: 'buttermere2' }
  - { name: 'buttermere3' }

---



<!--=============================
| DAY ONE //
|================================-->

<section>
  <div class="row--thin row--padding">
    <p class="paragraph--lead">I had heard so much about the Lakes and yet embarrassingly had never managed to visit. After holidaying in the Isle of Skye last summer I had high expectations, hoping this place could offer something close to the epic scenery that us outdoor types long for. </p>
    <hr />
  </div>

  <div class="row--thin row--padding">
    <h4 class="title title--italic title--smaller">Windermere</h4>
    <p class="paragraph--lead">After an eventful few days in the Peaks we arrived in the beautiful town of Windermere at around 4pm and headed straight for our first hotel – Miller Howe. </p>
    <p>Miller Howe sat right on the banks of Windermere in a slightly elevated position. As we entered our lake view room we realised quite how privileged guests can feel – the view was stunning. </p>
  </div>
</section>

<!--// Bakewell Images //-->
<section class="section--padding-none">
  <div class="row row--padding row--columns-4-4-4-gutters">
    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="windermere1"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/windermere1.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="windermere2"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/windermere2.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="windermere3"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/windermere3.jpg);"></a>

  </div>
</section>

<section>
  <div class="row--thin row--padding">
    <p>After taking 7000 photos of exactly the same view - a lovely little golden sunset - Emma and I headed down for dinner. The restaurant prides itself in using Lakeland ingredients from their very own kitchen garden and farmed fields, in a dining room that in the daytime offers stunning views over the lake. Emma told me her wild mushroom and truffle ravioli is a must and is in fact the best pasta dish she has ever had!</p>
  </div>
  <div class="row--thin row--padding">
    {% include offer/expert.html offer="miller-howe" %}
  </div>
</section>




<!--=============================
| DAY TWO //
|================================-->

<!--// New day - Mini Images //-->
<section class="bg--light-grey section--padding-none section--padding-top">
  <div class="row row--padding row--columns-6-6-gutters">

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="mini1"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/mini1.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="mini2"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/mini2.jpg);"></a>

  </div>
</section>

<section class="bg--light-grey">
  <div class="row--thin row--padding">
    <h4 class="title title--italic title--smaller">Hardknott Pass</h4>
    <p class="paragraph--lead">Breakfast roused us from our slumber, and prepared us for a jaunt in the MINI Countryman tackling two of the most challenging roads in Britain.</p>
    <p>The journey to the Hardknott Pass ended up taking far longer than intended, as I couldn’t bring myself to miss the numerous photo opportunities that presented themselves – the area is simply stunning.</p>
    <p>We started at the Wrynose Pass, which seems in some sense a warm-up lap for the challenges of the Hardknott. The following half hour saw us stuck between first and second gear, teeth clenched throughout. Healthy drops gave way on the edge of the tarmac – it was a thrill, though I’m not sure Emma was convinced...</p>
    <p>After reaching the peak of Hardknott – plus obligatory pit stop to calm our nerves – we decided it would be silly to come this far and not visit Wastwater and the famous Wasedale Head. I had pinned this place as a must, given only a few years back it was famously voted ‘Britain’s best view’. Wastwater was a joy with the big caveat being that we faced 50mph winds, making a walk nigh on impossible.</p>
  </div>
</section>

<!--// Hardknott Images //-->
<section class="section--padding-none bg--light-grey">
  <div class="row row--padding">

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--21-9 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="hardknott1"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/hardknott1.jpg);"></a>

  </div>
  <div class="row row--padding row--columns-6-6-gutters">

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="hardknott2"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/hardknott2.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="hardknott3"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/hardknott3.jpg);"></a>

  </div>
</section>

<section class="bg--light-grey">
  <div class="row--thin row--padding">
    <p>That evening we checked into Rothay Manor, situated on the edge of Ambleside. Whilst it didn’t quite enjoy the view of Miller Howe, it truly excelled when it came to both hospitality and food. </p>
    <p>It would be very easy to become numb to great food in the Lakes. Most of the hotels have really invested in their fine food offering and as a whole the Lakes are fast becoming a foodie heaven. Rothay Manor offered a meal both Emma and I will remember for quite a while - it was simply outstanding. Head chef Brandon is putting the hotel on the foodie map with his exceptional skill – as a bonus, the friendly staff really know the menu and produce inside out. A stellar evening for sure!</p>
  </div>
</section>

<!--// Rothay Manor Images //-->
<section class="section--padding-none bg--light-grey">
  <div class="row row--padding row--columns-4-4-4-gutters">

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="rothay-manor1"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/rothay-manor1.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="rothay-manor2"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/rothay-manor2.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="rothay-manor3"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/rothay-manor3.jpg);"></a>

  </div>
</section>

<section class="bg--light-grey">
  <div class="row--thin row--padding">
    {% include offer/expert.html offer="rothay-manor" %}
  </div>
</section>


<!--=============================
| DAY THREE //
|================================-->

<section>
  <div class="row--thin row--padding">
    <p class="paragraph--lead">Today would be our last in the Lakes, meaning an action-packed itinerary to catch the last of the unmissable landmarks.</p>
    <p>Rather than head for the nearest mountain we decided to check out Keswick. It sits between the tranquil Derwentwater and the imposing Skiddaw Peak. This famous market town proved welcome relief from tackling the elements. The pebbled dashed streets were lined with a great selection of shops – many championing local products. The listed Moot Hall dominates the high street, and holds a market regularly.</p>
  </div>
</section>

<!--// Keswick Images //-->
<section class="section--padding-none">
  <div class="row row--padding">

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--21-9 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="keswick1"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/keswick1.jpg);"></a>

  </div>
</section>

<section>
  <div class="row--thin row--padding">
    <p>After buying a stupendous amount of fudge for colleagues and kids, we jumped in the MINI Countryman and headed for Castlerigg Stone Circle. Surrounded by some of the Lake’s highest peaks including Helvellyn, Skiddaw, Grasmoor and Blencathra, the stone circle sat centre stage like a scene out of Narnia. The fact that you can drive right up to the spot without the need for an endless hike makes this an absolute must. I’d go so far as to say on a sunny day it’s the best view in the Lakes.</p>
    <p>With our final afternoon to kill I thought it best to tackle the drive from Keswick to Buttermere. The drive would once again take us over some really quite silly mountain roads but equally lovely countryside. </p>
  </div>
</section>

<!--// Keswick to Buttermere Images //-->
<section class="section--padding-none">
  <div class="row row--padding row--columns-6-6-gutters">

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="keswick-to-buttermere1"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/keswick-to-buttermere1.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="keswick-to-buttermere2"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/keswick-to-buttermere2.jpg);"></a>

  </div>
</section>

<section>
  <div class="row--thin row--padding">
    <p>Within a half hour we had reached the Honister Pass. Much like Hardknott this is one seriously imposing road and not one for the faint hearted. Right at the top lay Honister Slate Mine – the last working slate mine in England. After taking in the gorgeous views, we continued to Buttermere.</p>
  </div>
</section>

<!--// Honister Pass Images //-->
<section class="section--padding-none">
  <div class="row row--padding row--columns-6-6-gutters">

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="honister-pass1"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/honister-pass1.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="honister-pass2"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/honister-pass2.jpg);"></a>

  </div>
</section>

<section>
  <div class="row--thin row--padding">
    <h4 class="title title--italic title--smaller">Buttermere</h4>
    <p class="paragraph--lead">Buttermere was beautiful, offering plenty of great photo opportunities whilst we relaxed after an adventure-fueled few days.</p>
    <p>For our final night’s stay we found ourselves at The Inn on The Lake – a quaint hotel situated right on the water’s edge of Ullswater and in the lovely Village of Glenriding. With its very-own private jetty and sunset about to begin, the perfect spot presented itself for a relaxed finish to the day. </p>
  </div>
</section>

<!--// Buttermere Images //-->
<section class="section--padding-none">
  <div class="row row--padding row--columns-4-4-4-gutters">

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="buttermere1"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/buttermere1.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="buttermere2"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/buttermere2.jpg);"></a>

    <a
      href="javascript:void(0);" class="row__column bg-image-ratio bg-image-ratio--3-2 gallery gallery__expand js-open-modal"
      data-modal="gallery" data-modal-item="buttermere3"
      style="background-image: url({{ site.baseurl }}/img/content/{{ page.class }}/buttermere3.jpg);"></a>

  </div>
</section>

<section>
  <div class="row--thin row--padding">
    <p>Dinner was another great experience – the duck went down particularly well. It seems the Lakes are set to spoil you with their dining options – we were blown away with everything we ate! After a pampered stay, the only negative was the prospect of heading home again. With one last blast in the MINI Countryman to look forward to though, it wasn’t all bad...</p>
  </div>
  <div class="row--thin row--padding">
    {% include offer/expert.html offer="inn-on-the-lake" %}
  </div>
</section>


<section class="section--padding-none section--padding-bottom">
  <div class="row row--padding align-center">
    <a href="{{ site.baseurl }}/{{ page.parent | slugify }}" class="btn btn--large">Continue exploring the {{ page.parent }}</a>
  </div>
</section>